on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: "recursive"
          fetch-depth: 0

      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest

      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - uses: actions/cache@v4
        with:
          path: |
            ~/AppData/Local/.xmake
          key: xmake-${{ hashFiles('xmake.lua') }}
          restore-keys: |
            xmake-

      - run: |
          xmake repo -u

      - run: |
          xmake f -a x64 -m release -p windows -v -y

      - run: |
          xmake -v -y

      - uses: actions/upload-artifact@v5
        with:
          name: LeviStone-windows-x64-${{ github.sha }}
          path: |
            bin/
